#segment-header > .container {color: #ffffff; background-color: #ffffff; }
#segment-footer > .container {color: #e91e63; background-color: #1557c0;} 
                  .navbar-inverse {color: #e91e63; background-color: #1557c0;}
 